
.feedback-form {
  height: 80vh;
  width: 90vw;
  position: fixed;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.329),rgba(11, 10, 83, 0.281));
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1px);
  border-radius: 30px;

  box-shadow: 0 0px 50px rgb(255, 254, 206), 0px 0px 70px white;
  transition: all 0.5s ease;

  opacity: 0;
  z-index: -1;


}

.cross {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  right: -2%;
  top: -3%;
  box-shadow: 0 0 5px white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.showForm {
  opacity: 1;
  z-index: 1;
}

form {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

form div {

  width: inherit;
  display: grid;
  justify-content: center;
  align-items: center;
}

form input[type="text"],
input[type="submit"] {
  height: 30px;
  width: 200px;
  background: rgba(255, 255, 255, 0.836);
  border: none;
  margin: 10px;
  border-radius: 30px;
  padding: 0 20px;
  box-shadow: 0 0 3px white;
  transition: all ease 0.5s;
  outline: none;
}

input[type="text"]:focus {
  outline: none;
  /* height: 50px;
  width: 300px;
 */

  transform-origin: center;
  transform: scale(1.5);
}

textarea {
  height: 300px;
  width: 500px;
  background: rgba(255, 255, 255, 0.671);
  border: none;
  margin: 10px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 0 3px white;
  transition: all ease 0.5s;
  outline: none;

  font-size: 2rem;
}

