.intro__slide {
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #d19d9d;
  position: fixed;
  z-index: 3;
}

.intro {
  color: rgb(238, 221, 221);
  background: #d19d9d;
  font-size: 3rem;
  z-index: 3;
}

.slider {
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(86, 121, 120), rgb(3, 76, 158));
  position: fixed;
  z-index: 3;
  transform: translateX(-100%);
}

.hide {
  background: #d19d9d;
  background: none;
  overflow: hidden;
}

.hide .text {
  transform: translateY(100%);
  background: #d19d9d;
  display: inline-block;
}
.container {
  width: 80%;
  min-height: 100vh;
}

.card {
  transform-style: preserve-3d;
  min-height: 70vh;
  width: 70vh;
  box-shadow: 0px 20px 20px rgba(36, 65, 160, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 0rem 3rem;
  position: relative;
  background: linear-gradient(to bottom right,rgba(84, 114, 212, 0.171),rgba(125, 109, 197, 0.048));
}
.image {
  min-height: 35vh;
}

.image img {
  background: none;
  width: 55%;
  z-index: 2;
  border-radius: 20%;
}

.circle {

  width: 60%;
  height: 55%;
  background: linear-gradient(
    to right,
    rgba(0, 235, 233, 0.75),
    rgba(0, 154, 135, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0px 50px #2fd0c1;
}
.info{
  background: none;
  background-color: none;
}

.info h1 {
  margin-top: 5%;
  background: none;
}

.info h3 {
  padding: 2rem 0rem;
  background: none;
  font-weight: lighter;
}

/* about section */

.section__about {
  width: 100%;
  min-height: 100vh;
}
.about__heading {
  width: 100%;
  display: flex;
  font-size: 2vw;
  justify-content: center;
  padding: 2rem;
   

}
.about__heading > span {
  width: 100%;
}
.about {
  padding: 2vw 0;
  min-width: 100%;

  
}

.about__image {
  
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(255, 255, 255) inset;
  height: 100%;

}

.about__image > img {
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 10px;
  background: none;
  width: 20vw;
  padding: 1vh;
  margin: 1vh;
  height: 70%;
}

.about__info {
  max-width: 50%;
  min-width: 30%;
  font-weight: lighter;
  font-size: 20px;

  letter-spacing: 1px;
  padding-top: 2vh;


}
.about__info p{
  margin-bottom: 5vh ;
  color: black
}
.about__info > ul {
  transition: all 2 ease;
  padding: 2%;
  border-radius: 30px;
  margin-top: 100px;
}


@viewport {
  zoom: 1;
  width: extend-to-zoom;
}
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1;
}




@media screen and (max-width:756px){

  .info h3{
    display: none;
  }
  .info h1{
    font-size: 50px;
  }
}
